*/Project *
*/History
*/*.LOG
*/__Previews
*/*.htm
PCB/*view
PCB/*htm
PCB/*rep
PCB/*PrjPCB*
PCB/*csv
*/*stings*
*/*jects*
*.uvgu*
*.uvopt*
STM32/*/DebugConfig
STM32/*.txt
*Object*
*Listing*
*dbgconf
*.scvd